doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Redis News

  body
    h2 Article #{article.id}
    a(href='/') Go to start

    p= article.text

    p Tags:
    ul
      each tag in article.tags
        li
          a(href='/articles/tag/#{tag}')= tag
